c5_pin_model_dump.txt
db/
hps_isw_handoff/
hps_sdram_p0_all_pins.txt
hps_sdram_p0_summary.csv
incremental_db/
project.asm.rpt
project.done
project.fit.rpt
project.fit.smsg
project.fit.summary
project.flow.rpt
project.jdi
project.map.rpt
project.map.smsg
project.map.summary
project.pin
project.qws
project.sld
project.sof
project.sta.rpt
project.sta.summary
.qsys_edit/
soc_system/
soc_system.sopcinfo
